/target/
!.mvn/wrapper/maven-wrapper.jar

### Personal Files that I don't want added ###
*.log
logfile.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

/dynamicContent/
